/*-----------------------BASICS---------------*/
html{
	font-size:16px
}
.marron-cacao{
		color: #512B1C;
	}
.bg-marron-cacao{
	background-color: #512B1C;
	color: #FFFFFF;
}
/*-----------------------HEADER---------------*/
#top-header{
	background-color: #633A2C;
	text-align: right;
}
#top-header .redes a{
	font-size: 1.25rem;
	color: #FFFFFF;
	padding-right: 1.25rem;
}
#top-header .redes a:hover{
	opacity:1;
}
#top-header #idiomas{
	display: inline-block;
}
.separator{
	height: 1px;
	background-color: #FFFFFF;
	color: #FFFFFF;
	width: 1px;
}
#top-header #idiomas a{
	color: #FFFFFF;
	padding-right: 0;
	text-decoration: none;
}
#top-header #idiomas a:hover{
	color: #FFFFFF;
}
#bottom-header{
	border-top: 5px solid #542605;
}
#main-menu{
	display: inline-block;
	list-style: none;
	margin-bottom: 0;
	float: right;
	height: 100%;
}
#main-menu ul{
	padding:0;
	margin:0;
}
#main-menu ul li{
	display: table;
	float: left;
	padding-right: 20px;
}
#main-menu ul li a{
	text-transform: uppercase;
	text-decoration: none;
	height: 139px;
	display: table-cell;
	vertical-align: middle;
	font-size: 17px;
	transition: all .5s ease;
}
#main-menu ul li a{
	color: #b97528  ;
}
#main-menu ul li a:hover {
	color:#ed5d01 ;
}
#main-menu ul a:hover{
	transform: translateY(-5px);
  border-top: 5px solid #f7f7f9;
}
/*----------------------TOGGLE-MENU-----------------*/
.togglemenu,
#toggle-menu,
#responsive-menu{
  display:none;
}
#toggle-menu{
	background-color: #512B1C;
}
.responsive-menu ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.responsive-menu li{
  padding: 0.5rem 0;
  background-color: #512B1C;
  color: #FFFFFF;
  text-align: left;
}
.responsive-menu li:hover{
  background-color: #633A2C;
}
.responsive-menu li a{
	padding: 0 0.9rem;
	font-size: 1.5rem;
  text-decoration: none;
  color: #FFFFFF;
}
.responsive-menu li a:hover{
	color: #FFFFFF;
}
.togglemenu{
	text-align: left;
	padding: 10px 0 10px 5%;
	font-size: 2rem;
}
.toggle-title{
	display:flex;
	flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.toggle-title h1{
	color: #FFFFFF;
	margin:0;
	font-size:1.2rem;
}
	
.togglebar,
.togglebar:visited{
	color: #FFFFFF;	
}
.toggle-menu li ul{
  list-style-type: none;
  padding: 0;
}
.toggle-menu li ul li{
  padding: 0.5rem 0;
  background-color: #1E3440;
  color: #FFFFFF;
}
.toggle-menu li ul li a{
	padding: 0 1.8rem;
	text-decoration: none;
	color: #FFFFFF;
}
.toggle-menu .menu-item-has-children a{
	margin-bottom: 0.5rem;
	display:block;
}
.toggle-menu li ul li:hover{
	background-color: #3C687F;
}
.toggle-menu li ul li:first-child{
	padding-top: 0.5rem
}
.toggle-menu li ul li:last-child{
	padding-bottom: 0.5rem
}
.toggle-menu li ul li a{
	margin: 0;
}
/*--------------*/
#evento{
	width:100%;
}
#nav-items{
	transition: all 2s ease;
}

.nav-fixed{
	position: fixed !important;
    top: 0 !important;
    z-index: 4 !important;
    width: 100% !important;
    background-color: white !important;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

#img-logo{
	transition: all .5s ease;
}
.logo-small{
	height:42px;
}

.img-fluid{
	width: 100%;
    height: 100%;
}
.b{
	font-weight: bold !important;
}
.sb{
	font-weight: 400 !important;
}

#bg-choco{
	background-image: url('../img/bg-chocolate.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#bg-choco a{
	margin-right: 20px;
	background-color: white;
    color: #523009;
    padding: 1rem 1rem !important;
    border-color: transparent;
    white-space: normal;
}
#bg-choco a:hover{
	background-color: #523009;
    color: white;
}
*{
	position: relative;
}
.subitems{
	padding-right: 1rem;
	padding-left: 0;
}
.subitems h3{
	color: #512B1C;
}
.subitems:last-child{
	padding-right: 0;

}
/*---------------------------FRONT-PAGE----------------------*/
#nosotros{
	padding: 1.8rem 0;
}
#nosotros h2{
	font-weight: bold;
}
.description{
	margin-top: 2rem;
}
.featured_event{
 	background-color: #512B1C;
}
#evento h1{
	color:#FF4611;
}
#evento p{
	color: #FFFFFF;
}
.readmore{
	color:#512B1C;	
}
.readmore:visited,
.readmore:hover{
	color:#512B1C;		
}

/*----------FOOTER -------*/
#footer{
	background-color: #512B1C;
}
.footer-column{
	padding-top: 80px;
}
.footer-column ul{
	padding:0;
}
.footer-column ul li{
	list-style: none;
}
.footer a{
	font-size: 1.25rem;
	color: #FFA300;
}
.footer a:visited{
	color: #FFA300;	
	text-decoration: none;
}
.footer a:hover{
	color: #FF4611;
	text-decoration: none;
}
.footer-title{
	color:#FFA300;
}
.footer-content{
	color: #FFFFFF;
}
.no-padding{
	padding:0;
}
.no-margin{
	margin:0;
}
.footer{
	padding-bottom: 40px;
}
.footer-copyright{
	padding: 1rem 0;
	background-color: #512B1C;
}
.footer-copyright p,
.footer-copyright a,
.footer-copyright a:hover,
.footer-copyright a:visited{
	color: #C5B292;
}
.branding{
	text-align: center;
}
.form_body{
	list-style: none;
}
.form_body ul{
	padding:0;
}
.textbox{
	border-radius: 4px;
	width:100%;
	padding: 0 15px; 
}
.form_description,
.textwidget{
	color: #8b706e;
}
.redes_footer a{
	color: #f3910e;
	padding: 0 10px;
}
.address{
	padding-bottom: 25px;
}
#form_submit_button{
	width:100%;
	border-radius: 4px;
	background: #f3910e;
	color: #fff;
	box-sizing: border-box;
	display:inline-block;
	border:0;
	font-weight: bold;
	padding:10px 0;
}
.logo-footer{
	position: absolute;
	bottom:0;
	left: 0;
}
.logo-footer img{
	width:100%;
}
/*---------CONTENIDO----------------*/
.post h2{
	text-align: center;
	color: #ed5d01;
	font-weight: bold;
	padding: 10px 0;
}
.imagen{
	width:100%;
	display:flex;
	flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.contenido{
	padding: 2rem 0;
}
/*----------PAGES -------*/
.centrado{
	text-align: center;
}

/*-------------------------MEDIA QUERY--------------------*/
@media only screen and (min-width: 2560px){
	.togglemenu{
  display:none;
	}
	.responsive-menu{
	  display:none;
	}
}
@media only screen and (min-width: 1716px) and (max-width: 2559px){
	.togglemenu{
  display:none;
	}
	.responsive-menu{
	  display:none;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1715px){
	.togglemenu{
  	display:none;
	}
	.responsive-menu{
	  display:none;
	}
}
@media only screen and (max-width: 767px){
	html{
		font-size: 14px;
	}
	#nav-link{
		display: none !important;
	}
	#bg-choco .btn{
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
	#top-header,
	#bottom-header{
		display:none;
	}
	.toggle-menu-menu,
	.togglemenu,
	#toggle-menu{
	  display:block;
	}
	#carouselTop{
		display: none;
	}
	.subitems{
	padding-right: 0;
	padding-left: 0;
}
}